.md-toolbar-tools h1 {
  font-size: inherit;
  font-weight: inherit;
  margin: inherit;
}

.menudemoMenuWidth .md-menu-demo {
  padding: 24px; 
}
.menudemoMenuWidth .menu-demo-container {
  min-height: 200px; 
}
.menudemoMenuWidth .menus {
  width: 100%;
}

#internal-page {
  width: 100%; 
}

.md-pad {
    padding: 0px !important;
}

.md-pad-left {           
    padding-left: 20px;
    padding-right: 0px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.md-marg {
    margin: 0px !important;
}

.md-fab-fixed {
    //float: right;
    position: fixed;
    bottom: 10px;
    left: 10px;
}

.card-img {
    display: inline-block;
    position: relative;    
}

.card-img .bt-over-image {
    position: absolute;
    bottom: 5px;
    //top: 2px;
    //z-index: 9999;
}

.tabsdemoDynamicHeight md-content {
    background-color: transparent !important; 
}
.tabsdemoDynamicHeight md-content md-tabs {
    background: #f6f6f6;
    margin-bottom: 0;
    //border: 1px solid #e1e1e1; 
}
.tabsdemoDynamicHeight md-content md-tabs md-tabs-wrapper {
    background: white; 
}
.tabsdemoDynamicHeight md-content h1:first-child {
    margin-top: 0; 
}

